<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      tailwind.config = {
        darkMode: 'class'
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sonko - Personal Finance Tracker</title>
    <script type="module" crossorigin src="/assets/index-HX_wmsfL.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-CuXPmcd3.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
